{% extends "base.html.twig" %}

{% block title %}Modifier Album{% endblock %}

{% block body %}


    <h2>Modifier</h2>
    <form action="{{ path('update_album_process') }}" method="POST" enctype="multipart/form-data">
        <div class="forms">
            <div>
                <input type="text" name="albumId" value="{{ choseAlbum.id }}" style="display: none;">
            </div>
            <div>
                <label for="album_name" >Nom de l'album</label>
                <input id="album_name" name="albumName" type="text" value="{{ choseAlbum.name }}">
            </div>
            <div>
                <label for="album_year" >Année de sortie</label>
                <input id="album_year" name="albumYear" type="text" value="{{ choseAlbum.releaseYear }}">
            </div>
            <div>
                <label for="name_style">Choisir un Artiste :</label>
                <select  id="name_style" name="artistId">
                    <option  disabled selected>
                    {% if choseAlbum.artist.name is defined %}
                    {{ choseAlbum.artist.name }}
                    {% endif %}
                    </option>
                    {% for artist in artists %}
                        <option value="{{ artist.id }}">{{ artist.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="album_picture">Cover de l'album</label>
                <input id="album_picture" name="albumCover" type="file">
            </div>
            <div>
                <button type="submit">SAUVEGARDER</button>
            </div>
        </div>
    </form>

    

    {% if successMessage is defined %}
        <p class="success">{{ successMessage }}</p>
    {% endif %}


    {% if errorMessage is defined %}
        <p class="error">{{ errorMessage }}</p>
    {% endif %}

{% endblock %}