{% extends "base.html.twig" %}

{% block title %}Supprimer Artiste{% endblock %}

{% block body %}

    <h2>Supprimer</h2>
    <form action="{{ path('delete_artist_process') }}" method="POST">
        <div class="forms">
            <div>
                <label for="artist">Choisir un Artiste :</label>
                <select  id="artist" name="artistId">
                    <option  disabled selected></option>
                    {% for artist in artists %}
                        <option value="{{ artist.id }}">{{ artist.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <button type="submit">SUPPRIMER</button>
            </div>
        </div>
    </form>

    {% if successMessage is defined %}
        <p class="success">{{ successMessage }}</p>
    {% endif %}


    {% if errorMessage is defined %}
        <p class="error">{{ errorMessage }}</p>
    {% endif %}

{% endblock %}